# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# --------------------
# IntelliJ Files
# --------------------
*.iml
*.ipr
*.iws
.idea/

# --------------------
# Node Files
# --------------------
.nodemonignore
package-lock.json
yarn.lock
npm-debug.log
yarn-error.log
node_modules/

# --------------------
# SASS Files
# --------------------
.sass-cache/

# --------------------
# Bower Files
# --------------------
.bower-*/
bower_components

# --------------------
# dist
# --------------------
src/dist
